.creationForm {
  top: 100px;
  background: rgb(224, 223, 223);
  width: 500px;
  position: relative;
  border-radius: 5px;
  margin: auto;
  background: rgb(194, 195, 197);
}

.formik {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newProductSubmit {
  color: aliceblue;
  margin: 20px 0;
  font-size: 30px;
  padding: 10px;
  background-color: rgb(17, 129, 173);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 6px;
}
