.product-img {
  width: 60%;
  background: rgb(167, 167, 168);
  margin: auto;
  border-radius: 4px;
}

img {
  width: 100%;
  transition: transform 200ms;
}

.product-wrapper img {
  transform: scale(0.9);
}

.product-name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.product-wrapper {
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.product-shadow-box {
  width: 100%;
}

.product-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
  cursor: pointer;
}

.product-wrapper:hover img {
  transform: scale(1.1);
}

.product-price::before {
  content: "$ ";
}

.product-price {
  font-weight: bold;
}

.basket-wrapper-card {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-to-cart_wrapper {
  border-radius: 10px;
  border: none;
  padding: 6px;
  background: rgb(17, 129, 173);
  color: aliceblue;
}

.add-to-cart_wrapper:hover {
  background: rgb(228, 68, 28);
  color: raliceblue;
  cursor: pointer;
}

@media (min-width: 560px) {
  .product-shadow-box {
    width: 50%;
  }
}

@media (min-width: 560px) and (min-width: 750px) {
  .product-shadow-box {
    width: 33%;
  }
}

/* @media (min-width: 751px) and (min-width: 1200px) {
  .product-shadow-box {
    width: 25%;
  }
} */
