.product-img {
  width: 60%;
  background: rgb(173, 173, 177);
  margin: auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
}

.product-wrapper img {
  transform: scale(0.9);
}

.product-name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.product-wrapper {
  padding: 10px 0 0 0;
  margin: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-shadow-box {
  width: 100%;
}

.product-wrapper-shadow:hover {
  box-shadow: rgb(7, 54, 73) 0px 5px 15px;
  cursor: pointer;
}

.product-price {
  font-weight: bold;
}

.basket-wrapper-card {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgba(13, 14, 14, 0.1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 50px;
}

.disabled-link {
  pointer-events: none;
}

.enable-link {
  pointer-events: visible;
}

@media (min-width: 750px) {
  .product-shadow-box {
    width: 50%;
  }
}

@media (min-width: 560px) and (min-width: 1200px) {
  .product-shadow-box {
    width: 33%;
  }
}

a.product-link:hover {
  cursor: auto;
}

.editBtn {
  background: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid rgb(179, 176, 176);
  border-radius: 20%;
}

.editBtn:hover {
  border: none;
}

.editBtn:hover img {
  animation-name: example;
  animation-duration: 1.5s;
  padding: 2px;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  background: rgb(212, 211, 211);
  border-radius: 50%;
  box-shadow: rgb(82, 81, 81) 0px 3px 4px;
}

@keyframes example {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
