.product-img {
  width: 60%;
  background: rgb(167, 167, 168);
  margin: auto;
  border-radius: 4px;
}

img {
  max-width: 95%;
  transition: transform 500ms;
}

.product-name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.product-wrapper {
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.product-shadow-box {
  width: 100%;
}

.product-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
  cursor: pointer;
}

.product-wrapper:hover img {
  transform: scale(1.1);
}

.product-price::before {
  content: "$ ";
}

.product-price {
  font-weight: bold;
}

@media (min-width: 560px) {
  .product-shadow-box {
    width: 50%;
  }
}

@media (min-width: 560px) and (min-width: 750px) {
  .product-shadow-box {
    width: 33%;
  }
}

@media (min-width: 751px) and (min-width: 1200px) {
  .product-shadow-box {
    width: 25%;
  }
}
