.additional-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.date-wrapper {
  margin-top: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateWrapper-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}
