.adder-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  width: 25px;
  height: 25px;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.plus-one {
  background: rgba(138, 143, 139, 0.3);
}

.minus-one {
  background: rgba(138, 143, 139, 0.3);
}

.del-all {
  background: rgba(228, 68, 28, 0.3);
}
