.adder-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.basket-btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  text-align: center;
  border: none;
}

.adder-button-group button {
  cursor: pointer;
  background: none;
}
