.adder-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(201, 202, 202, 0.3);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 6px;
  border-radius: 10px;
}

.replacer-add-to-cart-btn {
  display: flex;
  justify-content: center;
}

.basket-btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  text-align: center;
  border: none;
}

.basket-btn-action img {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 6px;
}

.adder-button-group button {
  cursor: pointer;
  background: none;
}

.add-to-cart_button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  background: rgb(17, 129, 173);
  color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 6px;
}

.add-to-cart_button:hover {
  background: rgb(228, 68, 28);
  color: raliceblue;
  cursor: pointer;
}

.badge {
  background: rgb(236, 172, 34);
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 6px;
}
