.adder-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.basket-btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  text-align: center;
  border: none;
}

.adder-button-group button {
  cursor: pointer;
  background: none;
}

.add-to-cart_button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  background: rgb(17, 129, 173);
  color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 6px;
}

.add-to-cart_button:hover {
  background: rgb(228, 68, 28);
  color: raliceblue;
  cursor: pointer;
}
