.basket-name {
  font-size: 26px;
  margin-bottom: 15px;
}

.basket-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.basket-table td,
.basket-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

tbody td {
  text-align: center;
}

.basket-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.basket-table tr:hover {
  background-color: #ddd;
}

.basket-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background: rgb(17, 129, 173);
  color: white;
}

.bold {
  font-weight: bold;
}

.sum {
  background: rgb(228, 68, 28);
  color: white;
}

.msg span {
  font-size: 26px;
  color: #f1eded;
  background: rgb(228, 68, 28);
  border-radius: 6px;
  padding: 10px;
}

.basket-btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.basket-btn-group button {
  border: none;
  margin: 0 10px;
  border-radius: 4px;
  background: rgb(78, 78, 78);
  color: rgb(32, 32, 32);
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  color: #fdfdfd;
}

#return:hover {
  background: rgb(236, 172, 34);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #1a1919;
}

#buy-basket {
  cursor: not-allowed;
}

.quantityChanger {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.adder {
  margin: 0 2px;
  width: 20px;
  text-align: center;
  border: none;

  color: #fff;
  border-radius: 4px;
}

.plus-one {
  background: rgb(78, 202, 99);
}

.minus-one {
  background: rgb(228, 68, 28);
}
