.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  color: aliceblue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #131921;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.widget-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}

.header-logo a {
  display: flex;
  justify-content: center;
}

.newProduct {
  width: 45px;
  background: none;
  display: flex;
  align-items: center;
}
