.header {
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #131921;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 20px;
}

.widget-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activeLogo {
  display: flex;
  align-items: center;
}

.active {
  display: flex;
  align-items: center;
}

.activeLogo::after,
.active::before {
  font-size: 30px;
  line-height: 25px;
  color: aliceblue;
  text-align: center;
  padding: 0 5px;
  height: 30px;
  background: red;
  border-radius: 4px;
}

.active::before {
  content: "\21E8";
  margin-right: 5px;
}

.activeLogo::after {
  content: "\21E6";
  margin-left: 5px;
}

.header-logo {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.new-product {
  width: 45px;
  background: none;
  display: flex;
  align-items: center;
}
